@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Scrollbar Hide Utility */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0) scale(1.1);
  }

  25% {
    transform: translateX(-4px) scale(1.1);
  }

  75% {
    transform: translateX(4px) scale(1.1);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-shake {
  animation: shake 0.15s ease-in-out 0s 2;
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}